__pycache__/
.vscode/**
components/rego600/esphome/**
components/rego600/esphome.git
.hidden

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
hardware/kicad/*.000
hardware/kicad/*.bak
hardware/kicad/*.bck
hardware/kicad/*.kicad_pcb-bak
hardware/kicad/*.kicad_sch-bak
hardware/kicad/*-backups
hardware/kicad/*-cache*
hardware/kicad/*-bak
hardware/kicad/*-bak*
hardware/kicad/*~
hardware/kicad/~*
hardware/kicad/_autosave-*
hardware/kicad/\#auto_saved_files\#
hardware/kicad/*.tmp
hardware/kicad/*-save.pro
hardware/kicad/*-save.kicad_pcb
hardware/kicad/fp-info-cache
hardware/kicad/~*.lck


# Netlist files (exported from Eeschema)
hardware/kicad/*.net

# Autorouter files (exported from Pcbnew)
hardware/kicad/*.dsn
hardware/kicad/*.ses

# Exported BOM files
hardware/kicad/*.xml
hardware/kicad/*.csv

# Archived Backups (KiCad 6.0)
hardware/kicad/**/*-backups/*.zip

# Local project settings
hardware/kicad/*.kicad_prl
